openchrom/plugins/net.openchrom.rcp.compilation/bin/
openchrom/updateSites/net.openchrom.rcp.compilation.updateSite/artifacts.jar
openchrom/updateSites/net.openchrom.rcp.compilation.updateSite/bin/ary/
openchrom/updateSites/net.openchrom.rcp.compilation.updateSite/content.jar
openchrom/updateSites/net.openchrom.rcp.compilation.updateSite/features/
openchrom/updateSites/net.openchrom.rcp.compilation.updateSite/plugins/
