<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="net.chemclipse.rcp.compilation.community.ui.modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.openchrom.rcp.app.ui.net.openchrom.rcp.application"
            name="ChemClipse Community Edition Mattauch - Preview Release">
         <property
               name="windowImages"
               value="icons/logo_16x16.png,icons/logo_32x32.png,icons/logo_48x48.png,icons/logo_64x64.png,icons/logo_128x128.png">
         </property>
         <property
               name="aboutText"
               value="ChemClipse Community Edition Mattauch - the open source software for chromatography and mass spectrometry">
         </property>
         <property
               name="aboutImage"
               value="icons/about_250x330.png">
         </property>
         <property
               name="appName"
               value="ChemClipse Community Edition Mattauch - Preview Release">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="applicationXMI"
               value="net.openchrom.rcp.app.ui/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/net.openchrom.rcp.app.ui/css/openchrom.css">
         </property>     
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="net.chemclipse.rcp.compilation.community.ui.splash.EnhancedSplashHandler"
            id="net.chemclipse.rcp.compilation.community.ui.splash.enhancedSplashHandler">
      </splashHandler>         
      <splashHandlerProductBinding
            productId="net.chemclipse.rcp.compilation.community.ui.product"
            splashId="net.chemclipse.rcp.compilation.community.ui.splash.enhancedSplashHandler">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="net.chemclipse.rcp.compilation.community.ui.PluginStartup"></startup>
   </extension>    
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.openchrom.rcp.app.ui.preferences.settingsPreferencePage"      
            class="net.chemclipse.rcp.compilation.community.ui.preferences.MarketplacePreferencePage"
            id="net.chemclipse.rcp.compilation.community.ui.preferences.marketplacePreferencePage"
            name="OpenChrom Marketplace">
      </page>
   </extension>
   <extension
         point="org.eclipse.epp.mpc.ui.catalog">
         <catalog
		    description="Install new plug-ins from the OpenChrom marketplace."
		    icon="icons/logo_32x32.png"
		    label="OpenChrom Marketplace"
		    url="http://openchrom.dyndns.org/"
		    selfContained="false">
	    </catalog>
   </extension>

</plugin>
